run = "npm run dev"
language = "nodejs"
entrypoint = "server/index.js"

[nix]
channel = "nodejs-18"

[env]
PATH = "/home/runner/$REPL_SLUG/node_modules/.bin:$PATH"

[git]
enable = false

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false